# Python
__pycache__/


# Virtual environment
myenv/
.venv/

# Environment variables
.env


# Django
db.sqlite3
*.log
media/

# Migrations (optional)
*/migrations/
!*/migrations/__init__.py
# Ignore all migrations folders everywhere
**/migrations/
!**/migrations/__init__.py

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db