{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Email Sent </title>
  <link rel="stylesheet" href="{% static 'auth.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="auth-wrapper">
    <div class="auth-card">
      <h2 class="auth-title">Check your email</h2>
      
      <p class="auth-footer">
        Back to <a href="{% url 'login' %}">Login</a>
      </p>
    </div>
  </div>
</body>
</html>