{% extends "customer_base.html" %}


{% block page_title %}Delete Vehicle{% endblock %}
{% block page_subtitle %}Confirm deletion{% endblock %}

{% block content %}

<div class="vehicle-form-card">

    <p style="margin-bottom:20px;">
        Are you sure you want to delete
        <strong>{{ vehicle.model }}</strong>?
    </p>

    <form method="POST">
        {% csrf_token %}
        <button class="vehicle-submit" style="background:#ef4444;">
            Confirm Delete
        </button>
    </form>

</div>

{% endblock %}