{% extends "customer_base.html" %}


{% block page_title %}Add Brand{% endblock %}
{% block page_subtitle %}Create new brand{% endblock %}

{% block content %}
<div class="ap-container">
    <div class="ap-card">

        <!-- Header -->
        <div class="ap-header">
            <h2 class="ap-title">Add Brand</h2>

            <a href="{% url 'adminpanel:brands' %}" class="ap-btn ap-btn-outline">
                ← Back
            </a>
        </div>

        <!-- Form -->
        <form method="post">
            {% csrf_token %}

            <div class="ap-form-group">
                <label class="ap-label">
                    Brand Name <span class="ap-required">*</span>
                </label>
                <input type="text" name="brand_name" class="ap-input" placeholder="Enter brand name" required>
            </div>

            <div class="ap-actions">
                <button type="submit" class="ap-btn ap-btn-primary">
                    Save
                </button>

                <a href="{% url 'adminpanel:brands' %}" class="ap-btn ap-btn-outline">
                    Cancel
                </a>
            </div>
        </form>

    </div>
</div>

{% endblock %}